

    <form class="form-horizonal"  #formName="ngForm">
        <div class="form-group">
            <label class="col-md-2">User name</label>
            <div class="col-md-10">
                <input type="text" name="username" class="form-control" #usename="ngModel" ngModel/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Password</label>
            <div class="col-md-10">
                <input type="text" name="password" class="form-control" #password="ngModel"  ngModel/>
            </div>
        </div>
        <div class="form-group">
            <button (click)="CheckLogin(formName.value)"> Login</button>
        </div>

    </form>
